In [1]:
import pandas as pd

In [2]:
ad_df = pd.read_csv('ad8.csv')

In [3]:
ad_df.head()

,Unnamed: 0,object_id,Left-Lateral-Ventricle,Left-Inf-Lat-Vent,Left-Cerebellum-White-Matter,Left-Cerebellum-Cortex,Left-Thalamus-Proper,Left-Caudate,Left-Putamen,Left-Pallidum,...,lh_superiorfrontal_area,lh_superiorparietal_area,lh_superiortemporal_area,lh_supramarginal_area,lh_frontalpole_area,lh_temporalpole_area,lh_transversetemporal_area,lh_insula_area,lh_WhiteSurfArea_area,Classifier
0,0,ADNI_002_S_0619,57752.6,2198.7,14135.2,54003.8,7771.4,3608.3,4340.3,1659.7,...,8255.0,6301.0,4119.0,4756.0,213.0,574.0,584.0,2687.0,98817.7,AD
1,1,ADNI_002_S_0938,8986.1,1219.1,10668.6,38676.0,6312.1,2493.7,3143.4,1046.5,...,6738.0,5174.0,3809.0,3494.0,155.0,371.0,451.0,1721.0,76800.9,AD
2,2,ADNI_002_S_1018,10937.3,443.9,17129.2,50788.6,6678.7,2832.0,4154.8,1215.5,...,6316.0,5072.0,3242.0,3548.0,208.0,461.0,357.0,2081.0,76061.0,AD
3,3,ADNI_005_S_0221,27822.6,1870.6,11800.2,42164.4,6929.0,3880.4,4066.7,1555.3,...,8891.0,5717.0,4211.0,3998.0,258.0,453.0,431.0,2421.0,87981.4,AD
4,4,ADNI_005_S_0814,38453.1,1993.3,11037.5,46334.5,5286.1,2722.8,3812.3,1367.4,...,5815.0,5103.0,2979.0,3921.0,219.0,453.0,353.0,1940.0,73992.2,AD

In [4]:
ad_df.shape

(86, 345)

In [5]:
cn_df = pd.read_csv('cn8.csv')
cn_df.shape

(106, 345)

In [6]:
mci_df = pd.read_csv('mci8.csv')
mci_df.shape

(90, 345)

In [7]:
df = pd.concat([ad_df, cn_df, mci_df], axis=0)

In [8]:
df.shape

(282, 345)

In [9]:
df.head()

,Unnamed: 0,object_id,Left-Lateral-Ventricle,Left-Inf-Lat-Vent,Left-Cerebellum-White-Matter,Left-Cerebellum-Cortex,Left-Thalamus-Proper,Left-Caudate,Left-Putamen,Left-Pallidum,...,lh_superiorfrontal_area,lh_superiorparietal_area,lh_superiortemporal_area,lh_supramarginal_area,lh_frontalpole_area,lh_temporalpole_area,lh_transversetemporal_area,lh_insula_area,lh_WhiteSurfArea_area,Classifier
0,0,ADNI_002_S_0619,57752.6,2198.7,14135.2,54003.8,7771.4,3608.3,4340.3,1659.7,...,8255.0,6301.0,4119.0,4756.0,213.0,574.0,584.0,2687.0,98817.7,AD
1,1,ADNI_002_S_0938,8986.1,1219.1,10668.6,38676.0,6312.1,2493.7,3143.4,1046.5,...,6738.0,5174.0,3809.0,3494.0,155.0,371.0,451.0,1721.0,76800.9,AD
2,2,ADNI_002_S_1018,10937.3,443.9,17129.2,50788.6,6678.7,2832.0,4154.8,1215.5,...,6316.0,5072.0,3242.0,3548.0,208.0,461.0,357.0,2081.0,76061.0,AD
3,3,ADNI_005_S_0221,27822.6,1870.6,11800.2,42164.4,6929.0,3880.4,4066.7,1555.3,...,8891.0,5717.0,4211.0,3998.0,258.0,453.0,431.0,2421.0,87981.4,AD
4,4,ADNI_005_S_0814,38453.1,1993.3,11037.5,46334.5,5286.1,2722.8,3812.3,1367.4,...,5815.0,5103.0,2979.0,3921.0,219.0,453.0,353.0,1940.0,73992.2,AD

In [10]:
df['Classifier'].value_counts()

CN     106
MCI     90
AD      86
Name: Classifier, dtype: int64

In [11]:
df.to_csv('adnidataset_1.csv')

In [12]:
df_updated = pd.read_csv('adnidataset_1.csv')

In [13]:
df_updated.head()

,Unnamed: 0,Unnamed: 0.1,object_id,Left-Lateral-Ventricle,Left-Inf-Lat-Vent,Left-Cerebellum-White-Matter,Left-Cerebellum-Cortex,Left-Thalamus-Proper,Left-Caudate,Left-Putamen,...,lh_superiorfrontal_area,lh_superiorparietal_area,lh_superiortemporal_area,lh_supramarginal_area,lh_frontalpole_area,lh_temporalpole_area,lh_transversetemporal_area,lh_insula_area,lh_WhiteSurfArea_area,Classifier
0,0,0,ADNI_002_S_0619,57752.6,2198.7,14135.2,54003.8,7771.4,3608.3,4340.3,...,8255.0,6301.0,4119.0,4756.0,213.0,574.0,584.0,2687.0,98817.7,AD
1,1,1,ADNI_002_S_0938,8986.1,1219.1,10668.6,38676.0,6312.1,2493.7,3143.4,...,6738.0,5174.0,3809.0,3494.0,155.0,371.0,451.0,1721.0,76800.9,AD
2,2,2,ADNI_002_S_1018,10937.3,443.9,17129.2,50788.6,6678.7,2832.0,4154.8,...,6316.0,5072.0,3242.0,3548.0,208.0,461.0,357.0,2081.0,76061.0,AD
3,3,3,ADNI_005_S_0221,27822.6,1870.6,11800.2,42164.4,6929.0,3880.4,4066.7,...,8891.0,5717.0,4211.0,3998.0,258.0,453.0,431.0,2421.0,87981.4,AD
4,4,4,ADNI_005_S_0814,38453.1,1993.3,11037.5,46334.5,5286.1,2722.8,3812.3,...,5815.0,5103.0,2979.0,3921.0,219.0,453.0,353.0,1940.0,73992.2,AD

In [14]:
df_new = df_updated.replace(to_replace ='[A]DNI_', value = '', regex = True)

In [15]:
df_new.head()

,Unnamed: 0,Unnamed: 0.1,object_id,Left-Lateral-Ventricle,Left-Inf-Lat-Vent,Left-Cerebellum-White-Matter,Left-Cerebellum-Cortex,Left-Thalamus-Proper,Left-Caudate,Left-Putamen,...,lh_superiorfrontal_area,lh_superiorparietal_area,lh_superiortemporal_area,lh_supramarginal_area,lh_frontalpole_area,lh_temporalpole_area,lh_transversetemporal_area,lh_insula_area,lh_WhiteSurfArea_area,Classifier
0,0,0,002_S_0619,57752.6,2198.7,14135.2,54003.8,7771.4,3608.3,4340.3,...,8255.0,6301.0,4119.0,4756.0,213.0,574.0,584.0,2687.0,98817.7,AD
1,1,1,002_S_0938,8986.1,1219.1,10668.6,38676.0,6312.1,2493.7,3143.4,...,6738.0,5174.0,3809.0,3494.0,155.0,371.0,451.0,1721.0,76800.9,AD
2,2,2,002_S_1018,10937.3,443.9,17129.2,50788.6,6678.7,2832.0,4154.8,...,6316.0,5072.0,3242.0,3548.0,208.0,461.0,357.0,2081.0,76061.0,AD
3,3,3,005_S_0221,27822.6,1870.6,11800.2,42164.4,6929.0,3880.4,4066.7,...,8891.0,5717.0,4211.0,3998.0,258.0,453.0,431.0,2421.0,87981.4,AD
4,4,4,005_S_0814,38453.1,1993.3,11037.5,46334.5,5286.1,2722.8,3812.3,...,5815.0,5103.0,2979.0,3921.0,219.0,453.0,353.0,1940.0,73992.2,AD

In [16]:
df_new = df_new.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

In [17]:
df_new.head()

,object_id,Left-Lateral-Ventricle,Left-Inf-Lat-Vent,Left-Cerebellum-White-Matter,Left-Cerebellum-Cortex,Left-Thalamus-Proper,Left-Caudate,Left-Putamen,Left-Pallidum,3rd-Ventricle,...,lh_superiorfrontal_area,lh_superiorparietal_area,lh_superiortemporal_area,lh_supramarginal_area,lh_frontalpole_area,lh_temporalpole_area,lh_transversetemporal_area,lh_insula_area,lh_WhiteSurfArea_area,Classifier
0,002_S_0619,57752.6,2198.7,14135.2,54003.8,7771.4,3608.3,4340.3,1659.7,3185.6,...,8255.0,6301.0,4119.0,4756.0,213.0,574.0,584.0,2687.0,98817.7,AD
1,002_S_0938,8986.1,1219.1,10668.6,38676.0,6312.1,2493.7,3143.4,1046.5,2156.7,...,6738.0,5174.0,3809.0,3494.0,155.0,371.0,451.0,1721.0,76800.9,AD
2,002_S_1018,10937.3,443.9,17129.2,50788.6,6678.7,2832.0,4154.8,1215.5,961.2,...,6316.0,5072.0,3242.0,3548.0,208.0,461.0,357.0,2081.0,76061.0,AD
3,005_S_0221,27822.6,1870.6,11800.2,42164.4,6929.0,3880.4,4066.7,1555.3,2415.3,...,8891.0,5717.0,4211.0,3998.0,258.0,453.0,431.0,2421.0,87981.4,AD
4,005_S_0814,38453.1,1993.3,11037.5,46334.5,5286.1,2722.8,3812.3,1367.4,2002.5,...,5815.0,5103.0,2979.0,3921.0,219.0,453.0,353.0,1940.0,73992.2,AD

In [18]:
df_new.shape

(282, 344)

In [19]:
adnimerge = pd.read_csv('adnimerge.csv')

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (20,105) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
adnimerge.shape

(14740, 114)

In [21]:
adnimerge.head()

,Unnamed: 0,RID,COLPROT,ORIGPROT,PTID,SITE,VISCODE,EXAMDATE,DX.bl,AGE,...,ABETA.bl,TAU.bl,PTAU.bl,FDG.bl,PIB.bl,AV45.bl,Years.bl,Month.bl,Month,M
0,1,2,ADNI1,ADNI1,011_S_0002,11,bl,2005-09-08,CN,74.3,...,NaN,NaN,NaN,1.366653,NaN,NaN,0.000000,0.000000,0,0.0
1,2,2,ADNI1,ADNI1,011_S_0002,11,m06,2006-03-06,CN,74.3,...,NaN,NaN,NaN,1.366653,NaN,NaN,0.490075,5.868852,6,6.0
2,9,2,ADNI1,ADNI1,011_S_0002,11,m36,2008-08-27,CN,74.3,...,NaN,NaN,NaN,1.366653,NaN,NaN,2.967830,35.540984,36,36.0
3,10,2,ADNIGO,ADNI1,011_S_0002,11,m60,2010-09-22,CN,74.3,...,NaN,NaN,NaN,1.366653,NaN,NaN,5.037645,60.327869,60,60.0
4,11,2,ADNIGO,ADNI1,011_S_0002,11,m66,2011-03-04,CN,74.3,...,NaN,NaN,NaN,1.366653,NaN,NaN,5.483915,65.672131,66,66.0

In [22]:
adnimerge.columns.tolist()

['Unnamed: 0',
 'RID',
 'COLPROT',
 'ORIGPROT',
 'PTID',
 'SITE',
 'VISCODE',
 'EXAMDATE',
 'DX.bl',
 'AGE',
 'PTGENDER',
 'PTEDUCAT',
 'PTETHCAT',
 'PTRACCAT',
 'PTMARRY',
 'APOE4',
 'FDG',
 'PIB',
 'AV45',
 'ABETA',
 'TAU',
 'PTAU',
 'CDRSB',
 'ADAS11',
 'ADAS13',
 'ADASQ4',
 'MMSE',
 'RAVLT.immediate',
 'RAVLT.learning',
 'RAVLT.forgetting',
 'RAVLT.perc.forgetting',
 'LDELTOTAL',
 'DIGITSCOR',
 'TRABSCOR',
 'FAQ',
 'MOCA',
 'EcogPtMem',
 'EcogPtLang',
 'EcogPtVisspat',
 'EcogPtPlan',
 'EcogPtOrgan',
 'EcogPtDivatt',
 'EcogPtTotal',
 'EcogSPMem',
 'EcogSPLang',
 'EcogSPVisspat',
 'EcogSPPlan',
 'EcogSPOrgan',
 'EcogSPDivatt',
 'EcogSPTotal',
 'FLDSTRENG',
 'FSVERSION',
 'IMAGEUID',
 'Ventricles',
 'Hippocampus',
 'WholeBrain',
 'Entorhinal',
 'Fusiform',
 'MidTemp',
 'ICV',
 'DX',
 'mPACCdigit',
 'mPACCtrailsB',
 'EXAMDATE.bl',
 'CDRSB.bl',
 'ADAS11.bl',
 'ADAS13.bl',
 'ADASQ4.bl',
 'MMSE.bl',
 'RAVLT.immediate.bl',
 'RAVLT.learning.bl',
 'RAVLT.forgetting.bl',
 'RAVLT.perc.forgetting.bl',
 'LDELTOTAL.bl',
 'DIGITSCOR.bl',
 'TRABSCOR.bl',
 'FAQ.bl',
 'mPACCdigit.bl',
 'mPACCtrailsB.bl',
 'FLDSTRENG.bl',
 'FSVERSION.bl',
 'IMAGEUID.bl',
 'Ventricles.bl',
 'Hippocampus.bl',
 'WholeBrain.bl',
 'Entorhinal.bl',
 'Fusiform.bl',
 'MidTemp.bl',
 'ICV.bl',
 'MOCA.bl',
 'EcogPtMem.bl',
 'EcogPtLang.bl',
 'EcogPtVisspat.bl',
 'EcogPtPlan.bl',
 'EcogPtOrgan.bl',
 'EcogPtDivatt.bl',
 'EcogPtTotal.bl',
 'EcogSPMem.bl',
 'EcogSPLang.bl',
 'EcogSPVisspat.bl',
 'EcogSPPlan.bl',
 'EcogSPOrgan.bl',
 'EcogSPDivatt.bl',
 'EcogSPTotal.bl',
 'ABETA.bl',
 'TAU.bl',
 'PTAU.bl',
 'FDG.bl',
 'PIB.bl',
 'AV45.bl',
 'Years.bl',
 'Month.bl',
 'Month',
 'M']

In [23]:
amerge = adnimerge[['PTID', 'AGE', 'PTGENDER', 'PTEDUCAT','PTMARRY','APOE4','FDG','ABETA','TAU',
                    'Hippocampus.bl', 'WholeBrain.bl','Entorhinal.bl','Fusiform.bl','MidTemp.bl']]

In [24]:
amerge.shape

(14740, 14)

In [25]:
amerge.drop_duplicates(subset ="PTID", keep = 'first', inplace = True)

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
amerge.shape

(2269, 14)

In [27]:
amerge_new = amerge.rename(columns={'PTID': 'object_id'})

In [28]:
amerge_new.shape

(2269, 14)

In [29]:
df_inner = pd.merge(left = df_new, right = amerge_new, left_on = 'object_id', right_on = 'object_id')

In [30]:
df_inner.shape

(282, 357)

In [31]:
df_inner.head()

,object_id,Left-Lateral-Ventricle,Left-Inf-Lat-Vent,Left-Cerebellum-White-Matter,Left-Cerebellum-Cortex,Left-Thalamus-Proper,Left-Caudate,Left-Putamen,Left-Pallidum,3rd-Ventricle,...,PTMARRY,APOE4,FDG,ABETA,TAU,Hippocampus.bl,WholeBrain.bl,Entorhinal.bl,Fusiform.bl,MidTemp.bl
0,002_S_0619,57752.6,2198.7,14135.2,54003.8,7771.4,3608.3,4340.3,1659.7,3185.6,...,Married,2.0,NaN,393.8,212.4,5812.0,1075138.0,2773.0,20675.0,19959.0
1,002_S_0938,8986.1,1219.1,10668.6,38676.0,6312.1,2493.7,3143.4,1046.5,2156.7,...,Married,0.0,NaN,NaN,NaN,NaN,891449.0,NaN,NaN,NaN
2,002_S_1018,10937.3,443.9,17129.2,50788.6,6678.7,2832.0,4154.8,1215.5,961.2,...,Married,0.0,NaN,NaN,NaN,7142.0,1019456.0,3614.0,16428.0,17975.0
3,005_S_0221,27822.6,1870.6,11800.2,42164.4,6929.0,3880.4,4066.7,1555.3,2415.3,...,Married,2.0,1.058551,379.1,435.5,4930.0,1050170.0,2333.0,16974.0,18743.0
4,005_S_0814,38453.1,1993.3,11037.5,46334.5,5286.1,2722.8,3812.3,1367.4,2002.5,...,Married,1.0,NaN,749.9,489.2,NaN,876079.0,NaN,NaN,NaN

In [32]:
target = 'Classifier'
df_target = df_inner[target]
df_target.shape

(282,)

In [33]:
df_feature = df_inner.drop(columns=target, axis=1)
df_feature.shape

(282, 356)

In [34]:
from sklearn.impute import SimpleImputer
import category_encoders as ce
from sklearn.decomposition import PCA

/Applications/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [35]:
encoder = ce.ordinal.OrdinalEncoder()
imputer = SimpleImputer()

In [36]:
df_feature_encoded = encoder.fit_transform(df_feature)

In [37]:
df_feature_imputed = imputer.fit_transform(df_feature_encoded)

In [38]:
pca_normal = PCA(n_components=50)
pca_data = pca_normal.fit_transform(df_feature_imputed)

In [39]:
df_final = pd.DataFrame(data=pca_data)
df_final.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,605278.494712,285424.150227,-14310.195955,-58857.994854,-40114.242764,3990.439161,13783.342814,-11207.029555,-3078.128674,-956.514223,...,-854.401740,-1432.367805,144.910617,438.595387,-698.243219,-704.645892,952.071855,-609.129549,-364.704893,50.913264
1,-390002.618150,-7244.457071,20445.198583,15159.880202,-20050.503912,-11904.529203,-21474.255286,-7508.197155,-1124.913245,-4276.115716,...,310.529410,322.794232,279.546539,524.078533,-355.697822,-522.630122,841.343894,1295.933121,980.929965,165.528040
2,-102110.010431,-54020.753805,-40772.513090,-18993.422279,-17843.955165,27211.459862,14646.662168,-4871.018862,3360.872415,975.448756,...,-1219.589889,-592.448205,-588.354501,-674.308067,-235.917403,-181.693258,397.978078,1012.646728,15.293318,632.166627
3,205906.142659,117230.051555,21822.872156,-53203.170487,-29351.689405,27510.917018,-32790.442880,-13744.776173,9596.242861,497.391742,...,223.694181,-892.288039,-1189.611809,575.123970,-908.532285,661.686592,-619.762210,-383.442799,287.359721,7.756250
4,-379780.311362,74188.581555,14321.547878,-17714.399136,31307.706516,2680.326140,6895.498685,-9112.033913,-1683.180925,-1268.588960,...,-559.234180,5.867642,-393.138171,-708.018645,566.109286,200.104481,-103.952019,129.070761,33.691393,65.920631

In [40]:
df_final['Classifier'] = df_target
df_final.sample(8)

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Classifier
249,310931.778132,-102132.192865,71627.475525,8807.956855,-4072.928082,-15168.338688,12252.314509,-5161.575756,1358.533286,-306.901436,...,-238.408637,280.974771,-143.687172,-734.213979,-1328.351934,-217.347999,426.608650,827.596520,107.558698,MCI
60,-372838.369522,48952.977483,41831.702822,-34020.524664,-9493.930063,-12620.720300,16377.402030,3866.149840,-4360.543253,2590.479920,...,630.682038,409.972068,229.619479,750.986664,229.953315,-885.363642,-63.597748,397.769736,-554.023641,AD
277,118371.558548,30830.013306,-52440.714592,89775.861607,-12369.737610,10643.892021,-9249.419575,-5947.993090,-3051.056068,-4706.701378,...,261.284208,-116.758769,507.901368,-179.968156,-12.906742,213.695795,283.885526,-617.753263,294.843814,MCI
123,-545364.932378,36117.756012,-23370.909018,6513.162883,8673.682733,-15511.395194,-4690.922273,1018.055983,2354.253711,1810.922136,...,986.988522,243.051718,-374.794807,520.648944,443.784534,380.016761,-10.917642,-315.718644,106.817682,CN
11,476265.641505,-19072.326177,44142.991609,3371.120103,-11542.057813,31364.516385,3663.087582,3876.744104,-16701.741077,-7921.800128,...,1225.645895,-881.647075,1083.617657,-261.065091,480.516895,310.181098,-45.618920,-442.385544,-153.468415,AD
125,158956.930170,38457.294900,-80570.925630,-84041.143056,32551.861668,-20572.376649,3784.466121,-2641.386976,-1176.275858,-1591.475132,...,-270.689735,-860.964743,-40.397616,1365.731379,-501.912332,280.260993,182.015371,-166.142125,-489.615857,CN
28,-226813.990107,-18005.571017,29692.460387,4962.820948,-12569.410451,33548.653796,-11099.147891,-6929.232042,2928.475432,4218.146720,...,-457.162511,146.265165,533.643676,238.893913,-498.799786,113.610507,-357.085323,-219.398054,-159.278939,AD
171,-262786.418086,-19786.956843,-15137.212402,6279.623109,-185.890286,4774.165046,6621.152355,-1210.025738,-3044.049822,856.096393,...,-1065.538832,-659.206927,-967.876100,586.173920,-674.243951,123.677912,887.286172,67.045207,-491.896742,CN

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
train, test = train_test_split(df_final, train_size=0.8, test_size=0.2, stratify=df_final['Classifier'])
train.shape, test.shape

((225, 51), (57, 51))

In [43]:
X_train = train.drop(columns=target, axis=1)
y_train = train[target]
X_test = test.drop(columns=target, axis=1)
y_test = test[target]
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((225, 50), (225,), (57, 50), (57,))

In [48]:
# training a DescisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix,roc_auc_score, roc_curve

In [45]:
dtree_model = DecisionTreeClassifier(max_depth = 2).fit(X_train, y_train)

In [46]:
dtree_predictions = dtree_model.predict(X_test)

In [49]:
accuracy_score(y_test, dtree_predictions)

0.5614035087719298

In [54]:
print(f'Confusion Matrix of test set: \n {confusion_matrix(y_test, dtree_predictions)}')
print('\n')
print(f'Classification report of test set: \n {classification_report(y_test, dtree_predictions)}')

Confusion Matrix of test set:
 [[16  0  1]
 [ 7 14  1]
 [ 9  7  2]]


Classification report of test set:
               precision    recall  f1-score   support

          AD       0.50      0.94      0.65        17
          CN       0.67      0.64      0.65        22
         MCI       0.50      0.11      0.18        18

    accuracy                           0.56        57
   macro avg       0.56      0.56      0.50        57
weighted avg       0.56      0.56      0.50        57

In [50]:
# training a KNN classifier
from sklearn.neighbors import KNeighborsClassifier

In [51]:
knn = KNeighborsClassifier(n_neighbors = 7).fit(X_train, y_train)

In [52]:
knn_predictions = knn.predict(X_test)

In [53]:
accuracy_score(y_test, knn_predictions)

0.631578947368421

In [55]:
print(f'Confusion Matrix of test set: \n {confusion_matrix(y_test, knn_predictions)}')
print('\n')
print(f'Classification report of test set: \n {classification_report(y_test, knn_predictions)}')

Confusion Matrix of test set:
 [[ 9  4  4]
 [ 2 16  4]
 [ 4  3 11]]


Classification report of test set:
               precision    recall  f1-score   support

          AD       0.60      0.53      0.56        17
          CN       0.70      0.73      0.71        22
         MCI       0.58      0.61      0.59        18

    accuracy                           0.63        57
   macro avg       0.62      0.62      0.62        57
weighted avg       0.63      0.63      0.63        57

In [56]:
# training a Naive Bayes classifier 
from sklearn.naive_bayes import GaussianNB

In [57]:
gnb = GaussianNB().fit(X_train, y_train)

In [58]:
gnb_predictions = gnb.predict(X_test)

In [59]:
accuracy_score(y_test, gnb_predictions)

0.5263157894736842

In [60]:
print(f'Confusion Matrix of test set: \n {confusion_matrix(y_test, gnb_predictions)}')
print('\n')
print(f'Classification report of test set: \n {classification_report(y_test, gnb_predictions)}')

Confusion Matrix of test set:
 [[ 8  2  7]
 [ 2 16  4]
 [ 4  8  6]]


Classification report of test set:
               precision    recall  f1-score   support

          AD       0.57      0.47      0.52        17
          CN       0.62      0.73      0.67        22
         MCI       0.35      0.33      0.34        18

    accuracy                           0.53        57
   macro avg       0.51      0.51      0.51        57
weighted avg       0.52      0.53      0.52        57